.dept_container {

        background: var(--color-light);
        padding: 3rem;
        border-radius: 2rem;

    
        
    }
    .dept:hover {
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .dept{
        font-size: 1.8rem;
        color: var(--color-bg);
        
    }
    @media screen and (max-width: 1024px) {
        .dept_container {
            margin-top: -7rem;
        }

        .header_right {
            margin-top: -18rem;
        }
        .header_container {
            margin-top: -5rem;
        } 
    }